@model DiplomaManager.Areas.Admin.ViewModels.PredefenseDateTeachersViewModel

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PredefenseDateId);
    @Html.HiddenFor(model => model.PredefensePeriodId);
    @Html.HiddenFor(model => model.OldTeacherId);

    <label>Преподаватель</label>
    <select id="TeacherId" name="TeacherId">
        @{ 
            var oldTeacher = Model.Teachers.ElementAt(0);
        }
        <option selected value="@oldTeacher.Key">@oldTeacher.Value</option>
        @for (int i = 1; i < Model.Teachers.Count; i++)
        {
            <option value="@Model.Teachers.ElementAt(i).Key">@Model.Teachers.ElementAt(i).Value</option>
        }
    </select>
    <p></p>

    <p>
        <input type="submit" value="Принять" />
    </p>
}
