@model DiplomaManager.Areas.Admin.ViewModels.PredefensePeriodTeachers

@Html.ActionLink("Вернуться к периодам предзащит", "Periods")

<p></p>

@Html.ActionLink("Добавить преподавателя", "AddPeriodTeacher", new { PredefensePeriodId = Model.PredefensePeriodId})

<p></p>

@if(Model.PeriodTeachers != null && Model.PeriodTeachers.Count() != 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Преподаватель</th>
                <th>Количество посещений</th>
                <th>Максимальное количество посещений</th>                
            </tr>            
        </thead>
        <tbody>
            @foreach(var ptc in Model.PeriodTeachers)
            {
                <tr>
                    <td>@ptc.Teacher.GetFullName()</td>
                    <td>@ptc.Count</td>
                    <td>@ptc.Total</td>
                    <td>
                        @Html.ActionLink(
                            "Удалить преподавателя", 
                            "DeletePeriodTeacher", 
                            new { teacherId = ptc.TeacherId, predefensePeriodId = ptc.PredefensePeriodId})
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
