@model DiplomaManager.Areas.Admin.ViewModels.PredefenseDateTeachersViewModel

@Html.ActionLink(
    "Вернуться к расписанию предзащит",
    "Schedule",
    new
    {
        predefensePeriodId = Model.PredefensePeriodId
    })

<p></p>

@if(Model.Teachers.Count < 3)
{
    @Html.ActionLink(
        "Добавить преподавателя",
        "CreatePredefenseDateTeacher",
        new
        {
            predefensePeriodId = Model.PredefensePeriodId,
            predefenseDateId = Model.PredefenseDateId
        });

    <p></p>
}

<table class="table table-striped" cellpadding="5" cellspacing="5"">
    <tbody>
        @foreach(var t in Model.Teachers)
        {
            <tr>
                <td>@t.Value</td>
                <td>
                    @Html.ActionLink(
                        "Изменить преподавателя",
                        "ChangePredefenseDateTeacher",
                        new { 
                            predefensePeriodId = Model.PredefensePeriodId,
                            predefenseDateId = Model.PredefenseDateId,
                            teacherId = t.Key,
                            teacherName = t.Value
                        })
                </td>
                <td>
                    @Html.ActionLink(
                        "Удалить преподавателя",
                        "DeletePredefenseDateTeacher",
                        new
                        {
                            predefensePeriodId = Model.PredefensePeriodId,
                            predefenseDateId = Model.PredefenseDateId,
                            teacherId = t.Key                            
                        })
                </td>
            </tr>
        }
    </tbody>
</table>
