﻿@model DiplomaManager.Areas.Admin.ViewModels.FormedProjectsViewModel
@{

    ViewBag.Title = "Результат распределения";
}

<h2>Результат распределения</h2>
<hr />
@if (!string.IsNullOrWhiteSpace(ViewBag.Message))
{
    <h4>@ViewBag.Message</h4>
}
@if (Model != null)
{
    @if (Model.ConflictedTeacherStudents.Any())
    {
        <div class="panel-group">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#conflicted">Отклоненные ранее заявки</a>
                    </h4>
                </div>
                <div id="conflicted" class="panel-collapse collapse in">
                    @Html.Partial("_TeacherStudents", Model.ConflictedTeacherStudents)
                </div>
            </div>
        </div>
    }
    @if (Model.ExistedModifiedTeacherStudents.Any())
    {
        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#existedModified">Утверждённые заявки</a>
                    </h4>
                </div>
                <div id="existedModified" class="panel-collapse collapse in">
                    @Html.Partial("_TeacherStudents", Model.ExistedModifiedTeacherStudents)
                </div>
            </div>
        </div>
    }
    @if (Model.ExistedUnchangedTeacherStudents.Any())
    {
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#existedUnchanged">Незатронутые заявки</a>
                    </h4>
                </div>
                <div id="existedUnchanged" class="panel-collapse collapse in">
                    @Html.Partial("_TeacherStudents", Model.ExistedUnchangedTeacherStudents)
                </div>
            </div>
        </div>
    }
    @if (Model.NewTeacherStudents.Any())
    {
        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#new">Новые утвержденные заявки</a>
                    </h4>
                </div>
                <div id="new" class="panel-collapse collapse in">
                    @Html.Partial("_TeacherStudents", Model.NewTeacherStudents)
                </div>
            </div>
        </div>
    }
    <button class="btn btn-primary" asp-action="Save">Сохранить</button>
}


